<html>
	<head>
		<link href="{{url_for('static',filename='style.css',_external=True)}}" rel="stylesheet">
		<!-- url_for()生成动态地址时将动态部分作为关键字参数传入，但是对静态文件的引用被当作一个特殊的路由，即/static/<filname> -->
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<title>HEADLINES</title>
	</head>
	<body>
	
		<div id="header">
			<div id="inner-header">
				<h1>Headlines</h1>
			</div>
		</div>
		
		<div id="main">
			<h2>Current weather</h2>
			
			<form >
				<input type="text" name="city" placeholder="weather search" />
				<input type="submit" value="Submit" />
			</form>
			
			<p>城市：<b>{{weather.city}}</b></p>
			<p>{{weather.description}}|{{weather.temperature}}&#8451;</p><!-- &#8451;为摄氏度字符 -->
			
			<form >
				<input type="text" name="publication" placeholder="search">
				<input type="submit" value="Submit">
			</form>
			
			{% for article in articles %}
				<b><a href="{{article.link}}">{{article.title}}</a></b><br>
				<i>{{article.published}}</i><br>
				<p>{{article.summary}}</p>
				<hr/><!-- 水平分割线 -->
			{% endfor %}
		</div>
	</body>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	</html>